.class {
    display: flex;
    background-color: pink;
}

.class>ul{
    display: flex;
    list-style-type: none;
    background-color: white;
    padding: 0;
}
.class>ul>li {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.App {
    background-color: aqua;
    border: 1px solid black;
}
.App_middle {
    background-color: palegreen;
}
.component_holder {
    background-color: rgb(255, 227, 158);
}
.child {
    background-color: blanchedalmond;
}